
<div id="consent" style="width:600px;font-size:16px;margin-top:30px;text-align:left">
<p>If you decide to take part in this study, you will be asked to blah blah blah</p>
<p>Nobody outside the research team will be allowed to see your raw data and in the study you will be known only by your MTurk ID.  Suitably <b>anonymised</b> copies of your data may be made available to other researchers (e.g., via the Open Science Framework) for further (secondary) research. The data we collect may be written up for publication or used in presentations at conferences. Your involvement in the study will never be made apparent and all data is fully anonymised.</p>
<p>Do not take this survey on a mobile device (e.g., cell phone or tablet), and do not take it with Internet Explorer.
<p>If you have any questions or concerns about this survey please contact the principal investigator: blah blah blah</p>
<p>You are free to decline to participate or to end participation at any time for any reason. If you choose to withdraw your data after the study has finished you are entitled to do so by 15/06/21. To withdraw your data please email blah blah blah and quote your MTurk ID.</p>
<p>[GDPR stuff here]</p>
<p>By clicking below, you consent to participate in this task.</p>
<button type="button" id='consent' style="margin-bottom:50px;">I consent to take part in this experiment</button>
</div>
