<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <h2>Completion code</h2>
    <p>
      Thank you for taking part in this study. Your completion code is <%= completionCode %>. Please copy+paste this into MTurk to claim payment.
    </p>
    <p>If you have any further questions about the research, please contact [name] (<a href='mailto:[email]' target = '_top'>[email]</a>).</p>
  </body>
</html>
